<h3>Lista de Poroductos</h3>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos" [ngClass]="{ 'oferta': producto.oferta }">
            <td><img class="img-thumbnail" width="100" [src]="producto.imagen" [alt]="producto.nombre"></td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.tipo}}</td>
            <td>{{producto.precio | currency}}</td>
            <td>
                <ng-container *ngIf="producto.stock == 0; then sinStock; else enStock"></ng-container>

                <ng-template #sinStock>
                    <span class="badge badge-warning">
                        SIN STOCK 
                    </span>
                </ng-template>
                <ng-template #enStock>
                    <span class="badge badge-primary">
                        EN STOCK
                    </span>
                </ng-template>
            </td>
            <td>
                <app-input-integer [(cantidad)]="producto.cantidad" [max]="producto.stock" *ngIf="producto.stock" (maxAlcanzado)="maxAlcanzado($event)"></app-input-integer>
                Cant: {{producto.cantidad}}
            </td>
        </tr>
    </tbody>
</table>